.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page{
  background-color: #f9f9f9;
  padding: 24px;
  width: 100%;
}

.drawer{
  width: 240px;
}

.drawerPaper{
  width: 240px;
}

.root{
  display:flex
}

.active{
  background-color: #f4f4f4 !important;
  text-decoration:underline !important;
  text-decoration-thickness: 2px !important;
  color: rgb(25, 118, 210) !important;
}

.title{
  padding: 15.5px;
  text-align: center;
}

.date{
  flex-grow: 1 !important;
}

.navBarItem{
  color: rgb(25, 118, 210);  text-align: center;
  /* font-size: 14px !important;
  height:2% !important;
  font-weight: bold !important; */
}

.navBarItem:link {color:#ff0000;text-decoration:none;}
.navBarItem:visited {color:#0000ff;text-decoration:none;}
.navBarItem:hover {text-decoration:underline;text-decoration-thickness: 2px;}
